#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Sunrise Calendar
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=mojepfklcankkmikonjlnidiooanmpbb
Icon=chrome-mojepfklcankkmikonjlnidiooanmpbb-Profile_1
StartupWMClass=crx_mojepfklcankkmikonjlnidiooanmpbb
OnlyShowIn=Old;
